.section-formulario {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.form-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.fila-nombres {
    display: flex;
    gap: 1rem;
}

.grupo-input {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.form-form select,
.form-form input[type="date"] {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    background-color: white;
    font-family: inherit;
}

.form-form label {
    font-weight: bold;
}

/* Padding y Borde circular de las casillas de mensaje */
.form-form input,
.form-form textarea,
.form-form button {
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.form-form input,
.form-form textarea {
    border: 1px solid #e5e7eb;
}

.form-actions {
    display: flex;
    gap: 1rem;
}

/* Boton de Confirmacion */
.form-form button {
    flex: 1;
    border: 2px solid black;
    background: #3B82F6;
    color: black;
    font-weight: bold;
}

/* Boton para Limpiar el Formulario COMPLETO --- El important sobrescribe el azul y lo deja violeta (le da prioridad y "saltea" la cascada) --- */
.form-form button[type="reset"] {
    background: #7A3CFF !important;
    color: white;
    border: 2px solid #e5e7eb;
}

/* Boton de Ingreso */
.btn-ingresar {
    flex: 1;
    display: flex;             
    justify-content: center;   
    align-items: center;       
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    background: #3B82F6;
    color: white;
    font-weight: bold;
    text-decoration: none;    
    cursor: pointer;
}

.btn-ingresar:hover {
    background: #2563EB;
}

/* Boton de Cancelar*/
.btn-cancelar {
    flex: 1;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 2px solid #e5e7eb;
    background: white;
    color: black;
    font-weight: bold;
}

.btn-cancelar:hover {
    background-color: #f3f4f6;
}