body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC; 
    color: #0F172A;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 20 auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
}

h2 {
    color: #0F172A;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
}
h3,h4{
    font-size: 1.2rem;
    font-weight: 600;
}


.acordion {
    margin-bottom: 20px;
}

details {
    background-color: #FFFFFF;
    border: 1px solid #0F172A;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
}


summary {
    padding: 18px 24px; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    list-style: none; 
    
}

.precio-ruta::after {
    content: "▼";
    font-size: 1.2rem;
    color: #0F172A;
    transition: transform 0.3s ease;
}

details[open] .precio-ruta::after {
    transform: rotate(180deg); 
}

details[open] {
    border: 1.5px solid #0F172A;
}

.precio-ruta {
    display: flex;
    align-items: center;
    gap: 12px;  
    
}


.vuelo {
    display: flex;          
    align-items: center;
    gap: 16px;             
    flex-wrap: wrap;        
}

.vuelo h4 {
    flex: 1;                
    min-width: 200px;
}

.ruta-vuelo {
    gap: 16px;         
}

.detalle-vuelo {
    padding: 24px;      
}

.duracion-vuelo {
    white-space: nowrap;    
}

.info-vuelo {
    margin-left: auto;      
}

.tiempo-vuelo {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.duracion-vuelo {
    font-size: 0.85rem;
    color: #64748B;
}


.vuelo.return {
    border-top: 1px solid #FFFFFF;
    background-color: #FFFFFF;
}


header{
    width: 100%;
    background-color: #0c1735;
}

header nav{
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    height: 10vh;

}

header nav .logo{
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
}

header nav .iconoPerfil{
    font-size: 1.4rem;
    font-weight: 500;
    color: #FFFFFF;
}


